.container{

    background-color:darkgray;
    width: auto;
    border-radius: 10px;
    position:absolute;
    top:190px;
    right:650px;
    height:220px;
}

.cajitas{

    border-radius: 10px;
    width: 320px;
}