<div class="container">

    <div class="registro">
      <div class="registro-triangle"></div>
      
      <h2 class="registro-header">Empleados</h2>
    
      <form class="registro-container" method="POST">
        <p>
          <input class ="cajitas"type="text" [(ngModel)]="empleados.nombres" name='nombres' placeholder="Nombres" required="required"></p>
        <p>
            <input  class ="cajitas"  type="text" [(ngModel)]="empleados.apellidos" name='apellidos' placeholder="Apellidos" required="required"></p>
        <p>
            <input  class ="cajitas"  type="text" [(ngModel)]="empleados.puesto" name='puesto' placeholder="Puesto" required="required"></p>
        <p>
            <input  class ="cajitas"  type="text" [(ngModel)]="empleados.estado" name='estado' placeholder="Estados" required="required"></p>
            
        <p>
          <input type="submit" (click)="edit ? editar() : registrar()" value="Guardar"><input type="button" onclick="location.href='http://localhost:4200/maestroempleados'" value="Cancelar"> </p>
      </form>
    </div>
  
  
  </div>
